/* Start Global Values */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Space Mono", monospace;
  scroll-behavior: smooth;
}
:root {
  --sec-padding: 50px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  padding-left: 7px;
  padding-right: 7px;
  margin-left: auto;
  margin-right: auto;
}
body {
  position: relative;
}
.temp {
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
}
.temp-two {
  background-color: #f5f5f5;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Values */

/* START TODO APP */

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(13 26 45);
}
.container {
  margin: 20px auto;
}
h1 {
  text-align: center;
  color: #fff;
}
.form {
  background-color: #eee;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  flex: 1;
}
.input:focus {
  outline: none;
}
.add {
  border: none;
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}
.tasks {
  background-color: #eee;
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
}
.tasks .task {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #ccc;
}
.tasks .task:not(:last-child) {
  margin-bottom: 15px;
}
.tasks .task:hover {
  background-color: #f7f7f7;
}
.tasks .task.done {
  opacity: 0.5;
}
ion-icon {
  font-size: 20px;
}
/* END TODO APP */
